@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Ephesis&family=Lora:ital,wght@0,400..700;1,400..700&family=Petemoss&display=swap');
/* Corinthia - Cursive, Lora - Print */

:root {
    --primary: #f5eee9;
    --secondary: #e7d5c8;
    --tertiary: #736256;
    --accent: #3f362f;

    --header-bckgrd: var(--tertiary);
    --header-color: var(--primary);
    --main-bckgrd: var(--primary);
    --dark-text: var(--accent);
    --light-text: var(--primary);

    --cursive: "Corinthia", sans-serif;
    --print: "Lora", serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    font-family: var(--print);
}
header {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bckgrd);
}
#logo {
    height: 75px;
    width: 300px;
    background-image: url("../anikas-images/abi_archi.png");
    font-family: var(--cursive);
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
nav ul {
    list-style: none;
    justify-content: space-around;
    margin-right: 25px;
}
li {
    color: var(--header-color);
    margin-left: 20px;
    display: inline-block;
}
.banner {
    width: 100%;
}
article {
    margin: 0px 50px;
}
article div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 15px 25px;
}
.gallery-images {
    width: 100%;
}
footer {
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: var(--header-bckgrd);
    padding-bottom: 25px;
}
#footer{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: .2fr .2fr 2fr;
    margin: auto;
    margin-top: 40px;
    height: 200px;
    width: 80%;
    max-width: 900px;
    color: var(--dark-text);
    gap: 20px;
}
#anika {
    height: 245px;
    background-image: url("../anikas-images/abi_archi.png");
    background-position: center;
    background-size: cover;
    background-color: var(--secondary);
}
h3 {
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: var(--secondary);
    padding: 10px 0px;
}
p {
    height: 175px;
    margin: 0px;
    margin-top: 10px;
    background-color: var(--secondary);
    padding: 10px;
}
#form {
    background-color: var(--secondary);
}
